<div class="header">
  <div ngbDropdown class="d-inline-block custom-dropdown">
    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
      {{ currentUser ? currentUser.username : "Select User" }}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="custom-dropdown-menu">
      <button ngbDropdownItem (click)="setUser(1)">Admin</button>
      <button ngbDropdownItem (click)="setUser(2)">Buyer 1</button>
      <button ngbDropdownItem (click)="setUser(3)">Supplier 1</button>
      <button ngbDropdownItem (click)="setUser(4)">Supplier 2</button>
      <button ngbDropdownItem (click)="setUser(5)">Supplier 3</button>
    </div>
  </div>
</div>
<div class="main-content">
  <div class="sidebar">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" routerLink="./auctions">Auctions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./auctions/new">New Auction</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="./certificates">Certificates</a>
      </li>
    </ul>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
