<div class="container">
  <div class="header">
    <div ngbDropdown class="d-inline-block custom-dropdown">
      <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select User</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="custom-dropdown-menu">
        <button ngbDropdownItem>Buyer 1</button>
        <button ngbDropdownItem>Supplier 1</button>
        <button ngbDropdownItem>Supplier 2</button>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Auctions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu Item 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu Item 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu Item 4</a>
        </li>
      </ul>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
