<div class="container">
  <div class="header">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select User
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">User 1</a>
        <a class="dropdown-item" href="#">User 2</a>
        <a class="dropdown-item" href="#">User 3</a>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active" href="#">Menu Item 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu Item 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu Item 3</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Menu Item 4</a>
        </li>
      </ul>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
