<div class="certificates">
  <h2 class="certificates-title">Our Carbon Offset Certificates</h2>
  <div class="certificates-grid">
    <div *ngFor="let certificate of certificates" class="certificate-card">
      <img [src]="certificate.image" alt="Project Image" class="certificate-image" />
      <div class="certificate-content">
        <h3 class="certificate-title">{{ certificate.projectName }}</h3>
        <p class="offset-amount">Offset: {{ certificate.offsetAmount }} t</p>
      </div>
    </div>
  </div>
</div>
