.no-auctions-text {
  text-align: center;
  font-size: 24px; /* Adjust font size as needed */
  color: #444; /* Dark grey color */
  margin-top: 20px; /* Add some spacing from the top */
}
.bid-button-container {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.bid-button {
  /* Add button styling here */
}
