<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let auction of auctions">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ auction?.title }}</h5>
          <p class="card-text">Fuel Type: {{ auction.fuelType }}</p>
          <p class="card-text">Fuel Amount: {{ auction.fuelAmount }} t</p>
          <hr />
          <h6 class="card-subtitle mb-2 text-muted">Bids</h6>
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let bid of auction.bids">
              {{ bid.bidder }}
              <span class="badge badge-primary">{{ bid.amount }}$</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
