/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
/* styles.css */

body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  //font color white
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  background-color: rgb(19, 127, 163);
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.sidebar {
  flex: 0 0 120px;
  border-right: 1px solid #ccc;
  //text color white
  text-color: white;
  background-color: rgb(19, 127, 163);
}

.content {
  flex: 1;
  min-width: 0;
  overflow: auto;
  padding-left: 20px;
  padding-top: 20px;
}
